.card {
    font-family: Share Tech Mono;
    background-color: #ffffff;
    display: block;
    /* padding: 50px 50px; */
    width: 450px;
    height: 250px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    border: 1px solid grey;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.lg-pemkot {
    position: absolute;
    max-width: 45px;
    padding-top: 9px;
    padding-left: 40px;
}

.lg-rsu {
    position: absolute;
    max-width: 55px;
    padding-top: 10px;
    padding-left: 81%;
}

.bg-header {
    position: absolute;
    width: 100%;
    height: 75px;
    background: linear-gradient(90deg, #42A4FF 31.25%, #FFFFFF 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bg-kib {
    position: absolute;
    top: 75px;
    width: 186px;
    height: 27px;
    left: 264px;
    background: #ffbb03;
    border-radius: 0px 0px 0px 30px;
}

.bg-footer {
    position: absolute;
    top: 87%;
    width: 100%;
    height: 33px;
    background: #ffbb03;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pemkot {
    font-family: Signika;
    text-transform: uppercase;
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding-left: 31%;
    padding-top: 7px;
    position: absolute;
    display: inline-block;
}

.rsud {
    font-family: Signika;
    text-transform: uppercase;
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding-left: 27%;
    padding-top: 25px;
    position: absolute;
    display: inline-block;
}

.jl {
    font-family: Signika;
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding-left: 22%;
    padding-top: 42px;
    position: absolute;
    display: inline-block;
}

.kota {
    font-family: Signika;
    text-transform: uppercase;
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding-left: 43%;
    padding-top: 59px;
    position: absolute;
    display: inline-block;
}

.kib {
    font-family: Signika;
    text-transform: uppercase;
    color: black;
    font-size: 13px;
    font-weight: 400;
    padding-left: 285px;
    padding-top: 18%;
    position: absolute;
    display: inline-block;
}

.footer {
    font-family: Signika;
    text-transform: uppercase;
    color: black;
    font-size: 19px;
    font-weight: 400;
    padding-left: 10%;
    padding-top: 49.5%;
    position: absolute;
    display: inline-block;
}

.nama {
    font-family: Signika;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding-left: 7%;
    padding-top: 108px;
    position: absolute;
    display: inline-block;
}

.no-rm {
    font-family: Signika;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding-left: 7%;
    padding-top: 133px;
    position: absolute;
    display: inline-block;
}

.jk {
    font-family: Signika;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding-left: 7%;
    padding-top: 158px;
    position: absolute;
    display: inline-block;
}

.barcode {
    padding-left: 67%;
    padding-top: 40%;
    position: absolute;
    display: inline-block;
}
